/*

The logo colours

green #46C400
grey #303030

*/


* {
  
  font-family: verdana, sans-serif;
  color: black;
  font-size:12px;
}

.right_top {
  
 width:960px;
  margin:0 auto;
  
}

.right_top ul {
  float: right;
}

.right_top a {
  padding:0 5px;
 
}
.right_top a:hover {
  background-color:#bbb;
  
}

/* reset all the uls */

ul {
  list-style-type: none;
  
}

ul li {
  display: inline-block;
}

ul li a {
  display:block;
  text-decoration: none;
}

#main_nav {
  display:inline-block; 
  width:auto;
}

#main_nav a {
  line-height: 3em;
  color:white;
  padding-left:10px;
  padding-right:10px;
}

nav {
  width:960px;
  margin:0 auto;
  height:3em;
  background-color: #666;
 text-align: center;
  
}

#row2 {
  background-color: #fff;
  
}

.header {
  width:960px;
  margin:0 auto;
}

.top_header {
  background-color:#ddd;
  height:3em;
}

.top_header ul{
  height:3em;
  margin-right:20px; 
}

.top_header ul a {
  line-height:3em;
  margin-left:10px;
}

#nav_bar {
   height:3em; 
}

#nav_bar a:hover {
  background-color: forestgreen;
}

#nav_bar .active {
  background-color: forestgreen;
  color:white;
}

#row3 {
  background-color: #ddd; 
}

body {
  background-color: #ddd;
}

.container {
  width:960px;
  margin:0 auto;  
}

#main {
  background:#fff;
width:960px;
  margin:0 auto;
}

#header_right {
  margin-top:30px;
}

#header_right p { 
  float:right;
}

#header_left img { 
  width:300px; 
}

footer {
  text-align: center;
  background-color: #666;
  margin-bottom:10px;
  width:960px;
  margin:0 auto;
 }

footer a,footer p {
  font-size: .75em;
  color: #fff;
}

footer a:hover {
  color: #46C400;
}

/*

LOGIN FORM

*/

#login_form {
 
  width:300px;
  margin:0 auto;
   border:1px solid #555;
  padding:10px;
}

.login_main {
  padding-top:50px;
  padding-bottom:50px;
}

.login_main h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login_main h2 {
  margin-bottom:5px;
}

.login_main label {
  display:inline-block;
  width:75px;
  margin-bottom:10px;
}

.login_main #login_btn {
  display:inline-block;
  cursor:pointer;
  border:none;
  padding:5px;
  background-color: forestgreen;
  color:#eee;
  border:1px solid ;
  
}

#fake_button {
  display:inline-block;
  padding:10px;
  background-color: forestgreen;
 text-decoration: none;
}


/* 

login pages 

*/



.sidebar {
  width:960px;
  margin:0 auto;
  padding:0px;
  text-align: center;
  background-color: white;
}

.sidebar ul li {
  padding-left:10px;
  padding-top:10px;
  padding-right:10px;
  display:list-item;
  text-align: center;
  display:inline-block;
 }

.sidebar a {
  background-color: #222;
  color:#eee;
  display:block;
  line-height: 5em;
  border-bottom: 1px solid #eee;
  padding-left:20px;
  padding-right:20px;
}

.sidebar .active {
  background-color:forestgreen;
  color:white;
  
}

.sidebar a:hover  {
  background-color: forestgreen;
 }

.log_main {
   padding:0px;
}


/*

CUSTOMERS TABLE

*/



.table_container {
  	overflow-x: scroll;
	margin-right:10px;
  	padding:10px 10px 10px 10px;
}

#table_customers {
	border-collapse: collapse;
}

.h2heading {
  text-align: center;
  color: forestgreen;
  font-size: 2em;
  padding-top:.5em;
  padding-bottom:.3em; 
}

#table_customers th, #table_customers td{
  	text-align: left;
 	padding:10px;
  	white-space: nowrap; 
}

#table_customers th {
  background-color: #222;
  color:#eee;
}

#table_customers tr:nth-child(odd){
  background-color: #ccc;
}

/* 

add customers page

*/

.cust_main {
  padding:10px;
  padding-left:20px; 
}

.cust_main h1 {
  color:forestgreen;
}

.cust_main h3 {
  margin-top:20px;
  color:forestgreen;
  margin-bottom:10px;
  border-bottom:1px solid forestgreen;
  padding-bottom:5px;
  
}

.cust_main input { 
  margin-top:5px;
  margin-bottom:5px;
  padding:5px; 
}

.cust_main label {
  	width:120px;
 	text-align: right;
  	display: inline-block;
}

.cust_main #ass_cust_title {
  width:50px;
}

.cust_main input[type=button],
.cust_main input[type=reset],
input[type=submit],
.goback {
  
  cursor:pointer;
  padding:12px;
  border:none;
  background-color: forestgreen;
  color:white;
  margin-left:5px;
}

.goback {
  
  text-decoration: none;
  color:white;
}

/* add vehicles */

.veh_main {
  
  padding:10px;
  padding-left:20px;
  
}

.veh_main h1 {
  color:forestgreen;
  margin-bottom:20px;
 
}

.veh_main h3 {
  margin-top:20px;
    color:forestgreen;
  margin-bottom:10px;
  border-bottom:1px solid forestgreen;
  padding-bottom:5px;
  
}

.veh_main input, .veh_main select {
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  
  
}

.veh_main label {
  width:120px;
 text-align: right;
  display: inline-block;
  
}

.veh_main #ass_cust_title {
  width:50px;
}

.veh_main input[type=button],
.veh_main input[type=reset]{
  color:white;
  cursor:pointer;
  padding:12px;
  border:none;
  background-color: forestgreen;
  
}

/* Add salespersons */

.sales_main {
  
  padding:10px;
  padding-left:20px;
  
}

.sales_main h1 {
  color:forestgreen;
 
}

.sales_main h3 {
  margin-top:20px;
    color:forestgreen;
  margin-bottom:10px;
  border-bottom:1px solid forestgreen;
  padding-bottom:5px;
  
}

.sales_main input {
  
  margin-top:5px;
  margin-bottom:5px;
  padding:5px;
  
}

.sales_main label {
  width:120px;
 text-align: right;
  display: inline-block;
  
}

.sales_main #ass_cust_title {
  width:50px;
}

.sales_main input[type=button],
.sales_main input[type=reset]{
  color:white;
  cursor:pointer;
  padding:12px;
  border:none;
  background-color: forestgreen;
  
}


/* VEHICLE BOX */

.used_main h1{
  color:forestgreen;
  padding-top:10px;
  width:800px;
  margin:0 auto;
}

.used_main form {
  width:800px;
  margin:0 auto;
  margin-top:20px;
}

.vehicle_box {
  
  width:800px;
  margin:0 auto;
 
  background-color: #eee;

  margin-top:20px;
  
}



.vehicle_box .banner {
  background-color:  forestgreen;
}


.vehicle_box h2 {
 background-color:  forestgreen;
  font-size:1.2em;
 
 
}

.vehicle_box .price {
 background-color:  forestgreen;
 text-align: right;


  
}

.vehicle_box img {
  background-color: grey;
  width:100%;
}

.vehicle_box .col-4 {
  height:200px;
}

.vehicle_box li {
  display:list-item;
 line-height: 2em;
  border-bottom:1px dotted grey;
  padding-top:3px;
  margin-right:30px;
}


/* main page */

.main_page {
  
  padding:20px;
  
  
}

.main_page h1 {
  color:forestgreen;
  margin-bottom:20px;
  text-align: center;
}

.main_page p {
  margin-top:20px;
  line-height: 1.2em;
}


/* SIDENAV */

#side_nav a:hover {
  
  color:white;
}

#ass_veh_btn,
#add_sales_btn{
  
  padding:12px;
  
  
}

.button {
  background-color: forestgreen;
  color:white;
  text-decoration: none;
  border:none;
  padding:12px;
  
  
}

#cat_submit {
  padding-top:4px;
  padding-bottom:5px;
  
}

/*

PRIVACY POLICY PAGE

*/

.privacy h3 {
  color:forestgreen;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid forestgreen;
  padding-bottom: 5px;
}

#privacy_list li {
  display:list-item;
  margin-left:25px;
  padding:3px;
  list-style-type:disc;
  
}

/* 

CONTACT DETAILS PAGE

*/

#con_reset {
  padding:12px;
  background-color: forestgreen;
  color:white;
  
 }

iframe {
width:100%;
margin-top:1em;
}

#con_submit, #con_reset {
  max-width:100px;
}

#contact_form h3,
#contact_head h3
{
  color:forestgreen;
  padding-bottom:5px;
  border-bottom:1px solid forestgreen;
  margin-top:15px;
  margin-bottom:15px;
  
}

#contact_address p {
  margin-top:0px ;
  
 
}

#contact_form input {
    
    margin-bottom:15px;
    width:25%;	
    border:1px solid #aaa;
    padding:.5em;
}

#contact_form textarea {
    margin-top:15px;
    margin-bottom:15px;
    resize: none;
    width:25%;
    height:150px;
    border:1px solid #ccc;
    padding:.5em;
    font-family: verdana;
}

/*

SCROLLING MARQUEE

*/

#scroll_cont {
    
    width: 100%;
  background-color: yellow;
    overflow-x: hidden;
    margin: 25px auto;
  
}

#scroll_box {

  padding-top:5px;
  font-size:30px;
  
    
    background: yellow;
    height: 50px;
   1 width: 250px;
    margin: 10px -400px;
  
    -webkit-animation-name: move;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function: linear;
  
    animation-name: move;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-direction: right;
    animation-timing-function: linear;
  
    -moz-animation-name: move;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: right;
    -moz-animation-timing-function: linear;
  

}


@-webkit-keyframes move
{
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}

@-moz-keyframes move
{
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}

@-keyframes move
{
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 800px;
    }
}

/*

LIGHTBOX

*/


#design_lightbox {
    
    display:none;
    position:absolute;
    width:100%;
    height:101%;

   z-index:100;
    top:-10px;
    left:0;
    
}
#image_box {

    position:fixed;   
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    margin-top: 20px;
    width:100%;
    max-width: 800px;
    z-index:200;
    background-color: white;
  min-height: 200px;
  border:5px solid forestgreen;
  border-radius: 5px;
 }

#image_box i {
    background:red;
    color:black;
    position:absolute;
    top:18px;
    right:16px;
  
    text-align: center;
    line-height:16px;
    border-radius:4px;
  padding:5px;
 
}

#image_box i:hover {
    cursor:pointer;
}



#image_box img {
 
    width:100%;
    max-width:800px;
    border:10px solid white;
 
}

.designs_image:hover {
  cursor: pointer;
  
}

.designs_image {
  height:100%;
}

/* 

SLIDESHOW

*/

.slideshow {
  
  visibility: hidden;
  
}

.slidebox {
  
  height:300px;
  width:100%;
  
  text-align: center;
  
}


